<?xml version="1.0" encoding="utf-8"?>
<Overrides>
	<Override xpath="/CommunityServer/CSModules" mode="add">
		<add name="TableOfContentsModule" type="Telligent.Evolution.Extensions.TableOfContents.TableOfContentsModule, Telligent.Evolution.Extensions.TableOfContents" />
	</Override>
</Overrides>
