<?xml version="1.0" encoding="utf-8"?>
<module name="TableOfContents">

	<bind service="Telligent.Evolution.TableOfContents.ITableOfContentsService, Telligent.Evolution.TableOfContents"
			to="Telligent.Evolution.TableOfContents.TableOfContentsService, Telligent.Evolution.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.TableOfContents.ITableOfContentsBuilder, Telligent.Evolution.TableOfContents"
			to="Telligent.Evolution.TableOfContents.TableOfContentsBuilder, Telligent.Evolution.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.TableOfContents.ILocalisationService, Telligent.Evolution.TableOfContents"
			to="Telligent.Evolution.TableOfContents.LocalisationService, Telligent.Evolution.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.TableOfContents.IHtmlStripper, Telligent.Evolution.TableOfContents"
			to="Telligent.Evolution.TableOfContents.HtmlStripper, Telligent.Evolution.TableOfContents"
			scope="singleton"/>

</module>