<?xml version="1.0" encoding="utf-8"?>
<module name="TableOfContents">

	<bind service="Telligent.Evolution.Extensions.TableOfContents.ITableOfContentsService, Telligent.Evolution.Extensions.TableOfContents"
			to="Telligent.Evolution.Extensions.TableOfContents.TableOfContentsService, Telligent.Evolution.Extensions.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.Extensions.TableOfContents.ITableOfContentsBuilder, Telligent.Evolution.Extensions.TableOfContents"
			to="Telligent.Evolution.Extensions.TableOfContents.TableOfContentsBuilder, Telligent.Evolution.Extensions.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.Extensions.TableOfContents.ILocalisationService, Telligent.Evolution.Extensions.TableOfContents"
			to="Telligent.Evolution.Extensions.TableOfContents.LocalisationService, Telligent.Evolution.Extensions.TableOfContents"
			scope="singleton"/>
	<bind service="Telligent.Evolution.Extensions.TableOfContents.IHtmlStripper, Telligent.Evolution.Extensions.TableOfContents"
			to="Telligent.Evolution.Extensions.TableOfContents.HtmlStripper, Telligent.Evolution.Extensions.TableOfContents"
			scope="singleton"/>

</module>